{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" >
                    <div class="card-body">
                            <input type="email" name="email" id="email" placeholder="email">      
                    </div>
                    <div class="card-footer">
                            <button  class="btn btn-success" onclick="processForm()">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script>
    function processForm(){
       var email= $('#email').val();
       $.ajax({
            url:'/process/subscribe',
            dataType:'json',
            method:"GET",
            data:{'email':email},
            success:function(data){
                console.log(data);
            },
            error:function(error){
                console.log(error);
            }
       });
    }
</script>
{% endblock %}